.DS_Store
*.o
*.pyc
libs/imgs/*.png
libs/inputs/*.in
libs/outputs/*.out
orgin/*
!.gitkeep
temp/
algs/brutecppCC/in.txt
gurobi.log
tmplong/

docs/article/raota.aux
docs/article/raota.log
docs/article/raota.out
docs/article/raota.synctex.gz
